<h1>Segmenting and Clustering Neighborhoods in Toronto</h1>
<p>Source Wikipedia page <a href=https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M>https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M</a></p>

In [96]:
import pandas as pd
import requests

Importing web page from url

In [97]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
web_txt=requests.get(url).text

Parsing HTML page

In [99]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(web_txt,'xml')
table = soup.find('table',{'class':'wikitable sortable'})

Converting table data into array

In [140]:
table_rows=table.find_all('tr')
data = []
for row in table_rows:
    td=[]
    for t in row.find_all('td'):
        td.append(t.text.strip())
    data.append(td)

In [141]:
df=pd.DataFrame(data,columns=['PostalCode', 'Borough', 'Neighborhood'])

In [144]:
df.shape

(288, 3)

Deleting rows with 'Not assigned' value in Borough column

In [145]:
df.drop(df[df['Borough']=='Not assigned'].index,inplace=True)
df.drop(df[df.index==0].index,inplace=True)
df=df.reset_index()
df.drop(columns=['index'],inplace=True)

In [146]:
df.shape

(210, 3)

In [152]:
df[df['Neighborhood']=='Not assigned']

  PostalCode       Borough  Neighborhood
6        M9A  Queen's Park  Not assigned

In [153]:
df['Neighborhood'].replace('Not assigned',df['Borough'],inplace=True)

In [157]:
df = df.groupby(['PostalCode','Borough'])['Neighborhood'].apply(lambda x: ','.join(x)).reset_index()

In [158]:
df.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [160]:
df.shape

(103, 3)